{% extends "layout.njk" %}
{% block content %}
<section class="hero">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-vcentered">
                <div class="column"></div>
                <div class="column is-two-thirds">
                    <form action="/api/save" method="post">

                        <div class="field">
                            <label class="label">Choose preferred Blockchain implementations</label>
                            <div class="control">
                                <div class="select is-multiple">
                                    <select class="select" name="preferredBC" multiple="multiple">
                                        <option value="BTC" {{ "selected" if policy.preferredBC.includes("BTC") }}>Bitcoin
                                        </option>
                                        <option value="ETH" {{ "selected" if policy.preferredBC.includes("ETH") }}>Ethereum
                                        </option>
                                        <option value="XLM" {{ "selected" if policy.preferredBC.includes("XLM") }}>Stellar
                                        </option>
                                        <option value="EOS" {{ "selected" if policy.preferredBC.includes("EOS") }}>EOS</option>
                                        <option value="IOTA" {{ "selected" if policy.preferredBC.includes("IOTA") }}>IOTA
                                        </option>
                                        <option value="HYP" {{ "selected" if policy.preferredBC.includes("HYP") }}>
                                            Hyperledger
                                        </option>
                                        <option value="MLC" {{ "selected" if policy.preferredBC.includes("MLC") }}>Multichain
                                        </option>
                                        <option value="PSG" {{ "selected" if policy.preferredBC.includes("PSG") }}>Postgres (No
                                            Blockchain)
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="field">
                            <label class="label">Currency</label>
                            <div class="control">
                                <div class="select">
                                    <select name="currency">
                                        <option value="CHF" {{ "selected" if policy.currency == "CHF" }}>CHF</option>
                                        <option value="EUR" {{ "selected" if policy.currency == "EUR" }}>EUR</option>
                                        <option value="USD" {{ "selected" if policy.currency == "USD" }}>USD</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="field">
                            <label class="label">Blockchain Type</label>
                            <div class="control">
                                <label class="radio">
                                    <input type="radio" name="bcType"
                                           value="public" {{ "checked" if policy.bcType == "public" }}>
                                    Public
                                </label>
                                <label class="radio">
                                    <input type="radio" name="bcType"
                                           value="private" {{ "checked" if policy.bcType == "private" }}>
                                    Private
                                </label>
                            </div>
                        </div>

                        <div class="field">
                            <label class="label">Throughput</label>
                            <div class="control">
                                <label class="radio">
                                    <input type="radio" name="cost"
                                           value="economic" {{ "checked" if policy.cost == "economic" }}>
                                    Economic
                                </label>
                                <label class="radio">
                                    <input type="radio" name="cost"
                                           value="balanced" {{ "checked" if policy.cost == "balanced" }}>
                                    Balanced
                                </label>
                                <label class="radio">
                                    <input type="radio" name="cost"
                                           value="performance" {{ "checked" if policy.cost == "performance" }}>
                                    High-Performance
                                </label>
                            </div>
                        </div>

                        <div class="field">
                            <label class="label">Sample data</label>
                            <input type="file" name="sample-data">
                        </div>
                        <input type="hidden" id="username" name="username" value="{{ policy.username }}">
                        <div class="field">
                            <div class="control">
                                <button type="submit" class="button is-link">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
