{% extends "layout.njk" %}
{% block content %}
    <section class="hero">
        <div class="hero-body">
            <div class="container">
                <h2 class="title is-5">
                    Create/Edit Policy
                </h2>
                <div id="preferred-bc-info" class="notification is-info">
                    Select multiple, a single or no blockchain as a preference. This determines which blockchains will be chosen from in this policy.
                    In case only a single one is selected, the policy will disregard all other parameters and use the chosen blockchain.
                    In case none is chosen, the selection process uses all available blockchains for selection.
                </div>
                <div id="error" class="notification is-danger">
                </div>
                <div class="columns is-vcentered">
                    <div class="column"></div>
                    <div class="column">
                        <form id="policy-form">
                            <div class="field">
                                <label class="label" for="username">Username</label>
                                <input class="input" type="text" id="username" name="username"
                                       value="{{ policy.username }}">
                            </div>
                            <div class="field">
                                <label class="label" for="preferredBC">Choose preferred blockchain implementations</label>
                                <div class="control">
                                    <div class="select is-multiple">
                                        <select id="preferredBC" class="select" name="preferredBC" multiple="multiple">
                                            {% for blockchain in blockchains %}
                                                <option value={{ blockchain.nameShort }} {{ "selected" if policy.preferredBC.includes(blockchain.nameShort) }}>
                                                    {{ blockchain.name }}
                                                </option>
                                            {% else %}
                                                <option>
                                                    NoData
                                                </option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div id="more-info">
                                <div class="field">
                                    <label class="label">Blockchain Type</label>
                                    <div class="control">
                                        <label class="radio">
                                            <input type="radio" name="bcType"
                                                   value="public" {{ "checked" if policy.bcType == "public" }}>
                                            Public
                                        </label>
                                        <label class="radio">
                                            <input type="radio" name="bcType"
                                                   value="private" {{ "checked" if policy.bcType == "private" }}>
                                            Private
                                        </label>
                                    </div>
                                </div>
                                <div class="field">
                                    <label class="label" for="cost">Max. Cost</label>
                                    <input class="input" type="number" step="0.01" id="cost" name="cost"
                                           value="{{ policy.cost }}">
                                </div>
                                <div class="field">
                                    <div class="control">
                                        <label class="label" for="currency">Currency</label>
                                        <div class="select">
                                            <select id="currency" name="currency">
                                                <option value="CHF" {{ "selected" if policy.currency == "CHF" }}>CHF
                                                </option>
                                                <option value="EUR" {{ "selected" if policy.currency == "EUR" }}>EUR
                                                </option>
                                                <option value="USD" {{ "selected" if policy.currency == "USD" }}>USD
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="field">
                                    <div class="control">
                                        <label class="label" for="interval">Cost interval</label>
                                        <div class="select">
                                            <select id="interval" name="interval">
                                                <option value=''>
                                                    Please choose...
                                                </option>
                                                <option value="daily" {{ "selected" if policy.interval == "daily" }}>
                                                    daily
                                                </option>
                                                <option value="weekly" {{ "selected" if policy.interval == "weekly" }}>
                                                    weekly
                                                </option>
                                                <option value="monthly" {{ "selected" if policy.interval == "monthly" }}>
                                                    monthly
                                                </option>
                                                <option value="yearly" {{ "selected" if policy.interval == "yearly" }}>
                                                    yearly
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="field">
                                    <label class="label" for="bcTps">Min. Transactions per second</label>
                                    <div class="control">
                                        <div class="select">
                                            <select id="bcTps" name="bcTps">
                                                {% for tps in choosableParams.tps %}
                                                    <option value="{{ tps }}" {{ "selected" if policy.bcTps == tps }}>
                                                        {{ tps }}
                                                    </option>
                                                {% else %}
                                                    <option>
                                                        NoData
                                                    </option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="field">
                                    <label class="label" for="bcBlockSize">Min. Block Size</label>
                                    <div class="control">
                                        <div class="select">
                                            <select id="bcBlockSize" name="bcBlockSize">
                                                {% for blockSize in choosableParams.blockSize %}
                                                    <option value="{{ blockSize }}" {{ "selected" if policy.bcBlockSize == blockSize }}>
                                                        {{ blockSize }}
                                                    </option>
                                                {% else %}
                                                    <option>
                                                        NoData
                                                    </option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="field">
                                    <label class="label" for="bcBlockTime">Max. Block Time</label>
                                    <div class="control">
                                        <div class="select">
                                            <select id="bcBlockTime" name="bcBlockTime">
                                                {% for blockTime in choosableParams.blockTime %}
                                                    <option value="{{ blockTime }}" {{ "selected" if policy.bcBlockTime == blockTime }}>
                                                        {{ blockTime }}
                                                    </option>
                                                {% else %}
                                                    <option>
                                                        NoData
                                                    </option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="field">
                                    <label class="label" for="bcDataSize">Min. Data Size</label>
                                    <div class="control">
                                        <div class="select">
                                            <select id="bcDataSize" name="bcDataSize">
                                                {% for maxTrxSize in choosableParams.maxTrxSize %}
                                                    <option value="{{ maxTrxSize }}" {{ "selected" if policy.bcDataSize == maxTrxSize }}>
                                                        {{ maxTrxSize }}
                                                    </option>
                                                {% else %}
                                                    <option>
                                                        NoData
                                                    </option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="field">
                                    <label class="label">Smart Contract Support Needed</label>
                                    <div class="control">
                                        <label class="radio">
                                            <input type="radio" name="bcSmartContract"
                                                   value="true" {{ "checked" if policy.bcSmartContract }}>
                                            Yes
                                        </label>
                                        <label class="radio">
                                            <input type="radio" name="bcSmartContract"
                                                   value="false" {{ "checked" if not policy.bcSmartContract }}>
                                            No
                                        </label>
                                    </div>
                                </div>
                                <input type="hidden" name="_id" value="{{ policy._id }}">
                            </div>
                            <div class="field">
                                <div class="control">
                                    <button type="submit" id="submit-policy-form" class="button is-link is-pulled-right">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="column"></div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
