{% macro getTime(time1, time2) %}
    {% if time1 == time2 %}
        24h
    {% else %}
        {{ time1 }} - {{ time2 }}
    {% endif %}
{% endmacro %}

{% macro getIcon(boolean) %}
    {% if boolean %}
        <span class="icon has-text-success">
            <i class="fas fa-lg fa-check-circle"></i>
        </span>
    {% else %}
        <span class="icon has-text-danger">
            <i class="fas fa-lg fa-times-circle"></i>
        </span>
    {% endif %}
{% endmacro %}

{% extends "layout.njk" %}
{% block content %}
    <section class="hero">
        <div class="hero-body">
            <div class="container">
                <h2 class="title is-5">
                    Policy Management
                </h2>
                <div class="columns is-vcentered is-multiline">
                    <div class="column is-four-fifths">
                    </div>
                    <div class="column is-one-fifth">
                        <a class="button is-link is-pulled-right"
                           href="/policy{{ '?username=' + username if username }}">Create new Policy</a>
                    </div>
                    <div class="column is-full">
                        <table class="table is-striped is-narrow is-fullwidth">
                            <thead>
                            <tr>
                                <th><abbr title="Number">No.</abbr></th>
                                <th>Active</th>
                                <th>Username</th>
                                <th><abbr title="Preferred Blockchains">BC</abbr></th>
                                <th><abbr title="Blockchain Type">Type</abbr></th>
                                <th><abbr title="Max. Cost Threshold">Cost</abbr></th>
                                <th><abbr title="Interval For Cost Threshold">Interv.</abbr></th>
                                <th><abbr title="Cost Threshold Currency">Currency</abbr></th>
                                <th><abbr title="Transactions Per Second">TPS</abbr></th>
                                <th><abbr title="Block Time">Time</abbr></th>
                                <th><abbr title="Data Size">D. Size</abbr></th>
                                <th><abbr title="Turing Complete">Compl.</abbr></th>
                                <th><abbr title="Allow Split Transactions">Split</abbr></th>
                                <th><abbr title="Cost Profile">Profile</abbr></th>
                                <th><abbr title="Time Frame">Time</abbr></th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for policy in policies %}
                                <tr>
                                    <th>{{ loop.index }}</th>
                                    <td>
                                        {% if policy.isActive %}
                                            <span class="tag is-success">
                                                Active
                                            </span>
                                        {% else %}
                                            <span class="tag is-danger">
                                                Inactive
                                            </span>
                                        {% endif %}
                                    </td>
                                    <td>{{ policy.username }}</td>
                                    <td>{{ policy.preferredBC }}</td>
                                    <td>{{ policy.bcType }}</td>
                                    <td>{{ policy.cost }}</td>
                                    <td>{{ policy.interval }}</td>
                                    <td>{{ policy.currency }}</td>
                                    <td>{{ policy.bcTps }}</td>
                                    <td>{{ policy.bcBlockTime }}</td>
                                    <td>{{ policy.bcDataSize }}</td>
                                    <td>{{ getIcon(policy.bcTuringComplete) }}</td>
                                    <td>{{ getIcon(policy.split) }}</td>
                                    <td>{{ policy.costProfile }}</td>
                                    <td>{{ getTime(policy.timeFrameStart, policy.timeFrameEnd) }}</td>
                                    <td>
                                        <a class="button is-link table-button" href="/policy?id={{ policy._id }}">Edit
                                            Policy</a>
                                    </td>
                                    <td>
                                        <button class="button is-danger delete-button table-button"
                                                id="delete-policy-{{ policy._id }}" value="{{ policy._id }}">Delete
                                            Policy
                                        </button>
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td>noData</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="column is-full">
                        <h2 class="title is-5">
                            User cost limits for user {{ user.username }}:
                        </h2>
                        <p>Daily Threshold: {{ user.costDaily.cost }}</p>
                        <p>Weekly Threshold: {{ user.costWeekly.cost }}</p>
                        <p>Monthly Threshold: {{ user.costMonthly.cost }}</p>
                        <p>Yearly Threshold: {{ user.costYearly.cost }}</p>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>

    <script src="../js/policy-list.js"></script>
{% endblock %}