body
  font-size: 0.8rem
  overflow: auto

#more-info
  display: none

#preferred-bc-info
  display: block

#error
  display: none

#username-error
  display: none

.info-text
  font-size: 0.75em

.table-button
  font-size: 0.9em

#username
  width: 40%

.user-stats
  padding-top: 3rem

.inline-icon
  font-size: 1em
  margin-right: 4px

.policy-time-frame
  min-width: 100px

.policy-time-frame
  text-align: center

table
  thead
    td, th
      text-align: center !important

table
  td, th
    text-align: center !important
    vertical-align: middle !important

#table-div
  overflow-x: auto

.is-neutral
  border: 1px solid

.span-bc
  height: 1.5em
  align-items: center
  border-radius: 4px
  color: white
  display: inline-flex
  justify-content: center
  padding-left: 0.5em
  padding-right: 0.5em
  min-width: 51px
  margin-top: 2px

.span-BTC
  background-color: rgb(255, 56, 96)

.span-ETH
  background-color: rgb(32, 156, 238)

.span-XLM
  background-color: rgb(255, 200, 0)

.span-EOS
  background-color: rgb(255, 58, 235)

.span-MIOTA
  background-color: rgb(148, 24, 24)

.span-HYP
  background-color: rgb(0, 55, 255)

.span-MLC
  background-color: rgb(24, 148, 148)

.span-PSG
  background-color: rgb(58, 255, 78)

.interval-weekly
  background-color: #d19600 !important
  color: white !important

.interval-monthly
  background-color: #5b00d1 !important
  color: white !important

.interval-yearly
  background-color: #d10076 !important
  color: white !important

.preferredBC-style
  width: 69%
  border-color: #dbdbdb

.preferredBC-style .selectr-selected
  border-color: #dbdbdb

.preferredBC-style .selectr-selected::before
  border-color: #3273dc transparent transparent

.preferredBC-style .selectr-tag
 background: #209cee