#more-info
  display: none

#preferred-bc-info
  display: block

#error
  display: none

#username-error
  display: none

.info-text
  font-size: 0.75em

.table-button
  font-size: 0.75em

#username
  width: 40%